@media (max-width: 768px) {
  .event-detail-container {
    padding: 40px 20px;
    height: auto;
  }

  .event-info,
  .event-posters {
    width: 100%;
  }

  .event-info {
    padding-right: 0;
    transform: translateY(0);
    margin-bottom: 20px;
  }

  .event-posters {
    flex-wrap: wrap;
  }

  .detail-poster {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .detail-poster {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .error-text {
    font-size: 5vw;
  }

  .error-number {
    font-size: 40vw;
  }

  .error-image {
    width: 60vw;
  }
}
/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .contacts-info {
    flex-direction: column;
    gap: 30px;
    padding: 30px 20px;
  }

  .contacts-column {
    max-width: 100%;
  }

  .contacts-column p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .contacts-spacer {
    margin-top: 30px;
  }
}
/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .contacts-footer {
    padding-left: 20px;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .merch-page {
    flex-direction: column;
    height: auto;
  }

  .merch-list,
  .merch-detail-view {
    width: 100%;
    border-left: none;
    border-top: 1px solid #333;
  }

  .detail-content {
    flex-direction: row;
    align-items: center;
  }

  .detail-image {
    max-width: 40%;
    max-height: 200px;
  }
}
/* Для узких экранов можно добавить адаптивность */
@media (max-width: 768px) {
  .merch-info {
    font-size: 16px;
  }

  .merch-name,
  .merch-price {
    max-width: 40%; /* Уменьшаем максимальную ширину на мобильных */
  }
}
