@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-8.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/bebas_neue_bold.woff") format("woff");
  font-weight: 700; /* Жирный */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/bebas_neue_book.woff") format("woff");
  font-weight: 350; /* Книга или Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BebasNeueCyrillic";
  src: url("../fonts/BebasNeueCyrillic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
